# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Node
node_modules/
npm-debug.log*

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Database dumps / temp files
*.sqlite3-journal
*.log
_*
*.bak
*.bak.js

